<p>🎈</p>

<script>
  // Your code here
  let p = document.querySelector("p");
  let size;
  function setSize(newSize){
      size = newSize;
      p.style.fontSize = size + "px"
  }
  setSize(20);

  function HandleArrow(event){
        if(event.key == "ArrowUp"){
          if (size > 70)
          {
              p.textContent = "💥";
              document.body.removeEventListener("Keydown", HandleArrow);
          } else {
              setSize(size * 1.1);
              event.preventDefault()
          }
        } else if(event.key == "ArrowDown"){
            setSize(size * 0.9);
            event.preventDefault();
        }
      }
      document.body.addEventListener("Keydown", HandleArrow)

</script>