h1, .form-group, button, .strength-meter {
    margin-top: 0.5em;
}

.strength-meter {
    justify-content: center;
    margin-bottom: 1.5em;
}

.strength-meter > button {
    height: 1em;
    width: 5em;
}

button.pass_very_weak {
    background-color: red;
}

button.pass_weak {
    background-color: orange;
}

button.pass_ok {
    background-color: yellow;
}

button.pass_strong {
    background-color: green;
}

.text-danger {
    visibility: hidden;
    color: red;
}

#navbarSignout, #navbarSignin {
    flex-grow: unset;
}

#navbarSignout button {
    margin-left: 2em;
}

#result_nok > h2 {
    color: red;
}
