<style>
    #progress {
      border-bottom: 2px solid red;
      width: 0;
      position: fixed;
      top: 0; left: 0;
    }
  </style>
  <div id="progress"></div>
  <script>
    // Create some content
    document.body.appendChild(document.createTextNode(
      "supercalifragilisticexpialidocious ".repeat(1000)));
  
    let bar = document.querySelector("#progress");
    window.addEventListener("scroll", () => {
      let max = document.body.scrollHeight - innerHeight;
      bar.style.width = `${(pageYOffset / max) * 100}%`;
    });
  </script>